/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

/* Alerts */
.Toastify__toast-container {
    margin-top: 3rem;
}

/* Navbar */
.active-link {
    border-bottom: 1px solid #333;
}

/* Image upload */
.fileContainer {
    border-radius: 0;
    width: fit-content;
    padding: 1rem;
}

.chooseFileButton {
    border-radius: 0 !important;
}

.uploadPictureContainer {
    padding: 5px !important;
    margin: 0.5rem !important;
}

/* Commit test 2 */
